@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translate(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translate(-1rem)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }



    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}


html{
    font-family: "Lato", sans-serif;
    /*    font-size: 16PX;*/
    font-size: 62.5%;
    font-weight: 400;
    line-height: 1.8;
}

body {
       
    color:#fff;
    background-color: rgb(0,0,0);
}

h1,h2,h3,p{
    margin: 3%;
}
#header_container
{
    display: flex;
}
/*Header and Nav*/

#nav {
    flex-basis: 100vw;
    padding: 20px;
}

.header {

    height: 100vh;
    background-image: 
        url(background_image2.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    flex-basis: 100vw;
    
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}




.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}



.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
}


.heading-primary--sub {
    text-align: center;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}



.btn:link,
.btn:visited,
.navbar {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
}

.btn:hover,
.navbar:hover {
    transform: translateY(-0.03rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
}

.btn:active,
.navbar:active {

    transform: translateY(-0.01rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .4);
}

.btn--orange,
.navbar--orange {
    background-color: rgb(197, 59, 9);
    color: white;
}

.btn::after,
.navbar::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;

}

.btn--orange::after,
.navbar--orange::after {
    background-color: rgb(241, 125, 16);
}

.btn:hover::after,
.navbar:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated,
.navbar--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}


.navbar{
    float: right;
    margin-right: 20%;
}

a{
    text-decoration: none;
    margin: 0 10px;
    color: white
}

#main-content-container{
    display: flex;
}
/* Sidebar */
#sidebar {
   
    flex: basis 20%;
    font-size: 1.4rem;
    padding:3rem;
    
}
.why
 {
    max-width: 20vw;
    text-align: left;
}

/* Main content */
#content {
    flex-basis: 80vw;
    display: flex;
    font-size: 1.6rem;
    padding:2rem;
    text-align: left;
}
iframe{
    max-width: 22.5%;
    align-content: center;
    margin: 1%;
}



img{
    max-width: 22.5%;
    align-content: center;
    margin:1%;
}

footer{
    display:flex;
    flex-basis:  100%;
    flex-grow: 0;
    flex-shrink: 0;

    border:2px solid silver;
    padding:20px;
    
}
footer div{
    font-size: 1.2rem;
    text-align: center;
}














@media(max-widthx:640px){
    #header_container{
        flex-direction: column;
        flex-basis: 100%;
        
    }

    #nav, .header{
        min-width: 100vw;
        padding:2px;
        margin:2px;
    }
    
            
  
   .heading-primary, .heading-primary--main{
       font-size: 2rem;
       letter-spacing: 1px;
   }
   .navbar{
       margin-right:  50%;
   }
   footer{
       min-width: 100vworange
       

}


